<form action="" >
    <label for="from">от</label>
    <input name="pr1" type="text" id="fromprice" size="4" >
    <label for="toprice">to</label>
    <input name="pr2" type="text" id="toprice" size="4">
    <input type="submit" class="btn">

<br>
<br>
    <input name="input" value="start" required>
    <input type="number" name="num" value="0" >
    <input type="range" name="range" step="10" min="0" max="50">
    <input type="datetime-local" name="date">
    <br>
    <input type="text" name="disabled" disabled value="disabled">
    <input type="text" name="ro" readonly value="readonly">
    <input type="checkbox" name="chbx" checked>
    <input type="radio" name="radio" value="1">
    <input type="radio" name="radio" value="2">
    <input type="radio" name="radio" value="2">
  <br>
  <select name="selme">
    <option value="1">First</option>
    <option value="2">Second</option>
    <option value="3">Third</option>
  </select>
  <br>
  <textarea name="txtar" rows="8" cols="80">

  </textarea>
  <br>
    <input type="reset">
    <input type="submit">
</form>
